<html>
   
    <body>
       
        <form action='/predict' methods="POST">
            SepalLengthCm:<input type='text' name='SepalLengthCm'><br>
            SepalWidthCm:<input type='text' name='SepalWidthCm'><br>
            PetalLengthCm:<input type='text' name='PetalLengthCm'><br>
            PetalWidthCm:<input type='text' name='PetalWidthCm'><br>
            Class: {{result}}<br>
            SepalWidthCm:<input type='submit' value='Predict'><br>
        </form>
    
    </body>

</html>